@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&family=Roboto+Condensed&display=swap');
//Theme Colors
$color1: #F2F7FF;
$color2: #0B409C;
$color3: #10316B;
$color4: #FFE867;

//Fonts
$headfnts:'Philosopher', sans-serif;
$parfnts:'Roboto Condensed', sans-serif;

@keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 340px;
      height: 340px;
      opacity: 0;
    }
}
//main style
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $parfnts;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: transparent url(./img/wallpaperbetter.com_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
::selection{
    color: $color1;
    background: $color2;
}
header i{
    font-size: 0px;
    cursor: pointer;
    margin-right: 8px;
}
.wrapper{
    width: 400px;
    background: none;
    border-radius: 6px;
    header{
        display: flex;
        font-size: 30px;
        font-family: $headfnts;
        font-weight: 500;
        color: $color4;
        padding: 16px 16px;
        align-items: center;
        justify-content: center;
    }
    .input-part{
        margin: 20px 25px 30px;
    }
    .weather-part{
        display: none;
        margin: 30px 0 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
.weather-part{
    img{
        max-width: 125px;
    }
    .temp{
        color: $color1;
        display: flex;
        font-weight: 500;
        font-size: 70px;
        .numb{
            font-weight: 500;
        }
        .deg{
            font-size: 40px;
            display: block;
            margin: 11px 6px 1px 1px;
        }
    }
    .weather{
        text-transform: uppercase;
        color: $color4;
        font-size: 22px;
        text-align: center;
        margin:-5px 20px 15px;
    }
    .location{
        display: flex;
        font-size: 19px;
        padding: 0 20px;
        text-align: center;
        margin-bottom: 30px;
        align-items: flex-start;
    }
    .bottom-details{
        display: flex;
        width: 100%;
        justify-content: space-between;
        border-top: 1px solid $color1;
        .column{
            display: flex;
            width: 100%;
            padding: 15px 0;
            align-items: center;
            justify-content: center;
        }
    }
}
.location {
    font-family: $parfnts;
    color: $color1;
    i{
        font-size: 22px;
        margin: 4px 5px 0 0;
        color: $color4;
    }
}
.column{
    i{
        color: $color4;
        font-size: 42px;
    }
    .humidity{
        border-left: 1px solid $color1;
    }
    .details{
        margin-left: 3px;
        p{
           font-family: $parfnts;
           font-size: 15px;
           margin-top: -5px;
        }
    }
}
.humidity i{
    font-size: 35px;
}
.details{
    font-family: $parfnts;
    color: $color1;
    .temp, .humidity span{
        font-size: 18px;
        font-weight: 500;
        margin-top: -5px;
    }
    .temp{
        
        .deg{
            margin: 0;
            font-size: 17px;
            padding: 0 2px 0 1px;
        }
    }
}

.wrapper.active{
    header i{
        margin-left: 5px;
        font-size: 30px;
        font-family: $parfnts;
    }
    .input-part{
        display: none;
    }
    .weather-part{
        display: flex;
    }
}

.input-part {
    .info-txt{
        display: none;
        font-size: 20px;
        text-align: center;
        padding: 12px 10px;
    }
    .info-txt.error{
        color: $color2;
        display: block;
        border: 1px solid $color1;
    }
    .info-txt.pending{
        color: $color3;
        display: block;
        border: 1px solid $color1;
    }
    input{
        padding: 0 15px;
        border: 1px solid $color4;
        :is(:focus, :valid){
            border: 2px solid $color2;
        }
    }
    :where(input){
        width: 100%;
        height: 45px;
        border: none;
        outline: none;
        font-size: 20px;
        border-radius: 5px;
        padding-left: 15px;
    }
    .separator{
        height: 1px;
        width: 100%;
        margin: 25px 0;
        background-color: $color2;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        ::before{
            content: "or";
            color: $color3;
            font-size: 21px;
            padding: 0 15px;
            background: #10316B;
        }
    }
    button{
        position: relative;
        margin-top: 10px;
        text-transform: uppercase;
        background: linear-gradient(90deg, $color2 0%, $color2 100%);
        width: 100%;
        height: 100%;
        font-family: $parfnts;
        border-radius: 1000px;
        border:none;
        font-size: 20px;
        box-shadow: 12px 12px 24px $color4;
        transition: all 0.3s ease-in-out 0s;
        color: $color4;
        cursor: pointer;
        outline: none;
        position: relative;
        vertical-align: middle;
        padding: 0.75rem 1.5rem;
        transition: 0.2 ease;
        :hover{
            background: $color2;
        }
    }
}
button::before {
    content: '';
    border-radius: 1000px;
    min-width: 103%;
    min-height: 104%;
    border: 6px solid $color2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}
button:hover::before, button:focus::before {
    opacity: 1;
}
    
button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid $color4;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}  
button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

.content .ct{
    + label{
    display: block;
    position: relative;
    font-family: $parfnts;
    font-size: 20px;
    color: $color2;
    bottom: 43px;
    width: 20%;
    padding: 8.2px 15px;
    background: $color4;
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    transform-origin: right center;
    transform: perspective(300px) scaleX(1) rotateY(0deg);
    }
}
.ct:focus, .ct:active{
    color: $color2;
    text-indent: 0;
    background: $color1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &::-webkit-input-placeholder {
        color: $color3;
    }
    + label {
        transform: perspective(600px) translateX(-100%) rotateY(80deg);
    }
}

footer{
    clear: both;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 90%;
    a {
        color: transparent;
        text-decoration: none;
        background-position: center;
        background-repeat: no-repeat;
    }
}
footer a.WMO{
    max-width: 20%;
    background-size: 100%;
    background-image: url(./img/icons8-weather-100.png);
}
footer a.GH{
    max-width: 100%;
    background-size: 100%;
    background-image:url(./img/github.png);
}
footer a.news{
    max-width: 30%;
    background-size: 60%;
    background-image: url(./img/icons8-cnn-100.png);
}
footer a.WC{
    max-width: 60%;
    background-size: 80%;
    background-image: url(./img/qatar.png);
}
@media screen and (min-width:800px) {
    .weather-part{
        .wind{
            position: absolute;
            color: $color1;
            display: flex;
            justify-content: space-between;
            align-content: flex-end;
            font-weight: 400;
            font-size: 35px;
            top: 35%;
            left: 66%;
            p.unit1{
                color: $color2;
                position: absolute;
                top: 99%;
                left: 30%;
            }
            p.unit2{
                color: $color2;
                position: absolute;
                top: 193%;
                left: 48%;
            }
            i.bx-wind{
                position: absolute;
                top: 110%;
                color: $color1;
            }
            span.speed{
                color: $color2;
                position: absolute;
                top: 100%;
                left: 20%;
            }
            i.bxs-right-top-arrow-circle{
                position: absolute;
                top: 200%;
                color: $color1;
            }
            span.deg{
                color: $color2;
                position: absolute;
                top: 192%;
                left: 20%;
            }
        }
    }
}
@media screen and (max-width:500px){
    .weather-part{
        .wind{
            display: flex;
            position: absolute;
            color: $color4;
            font-size: 29px;
            left: 75%;
            top: 35%;
            p.unit1{
                position: absolute;
                top: 103%;
                left: 35%;  
            }
            i.bx-wind{
                position: absolute;
                top: 105%;
                color: $color1;
            }
            span.speed{
                position: absolute;
                top: 103%;
                left: 23%;
            }
            p.unit2{
                position: absolute;
                top: 163%;
                left: 58%;
            }
            i.bxs-right-top-arrow-circle{
                position: absolute;
                top: 165%;
                color: $color1; 
            }
            span.deg{
                position: absolute;
                top: 163%;
                left: 24%;
            }
        }
    }
} 