@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Nova Flat', cursive;
}
body{
    background: #5656bb;
    overflow: hidden;
}
header{
    text-transform: uppercase;
    font-size: 100px;
    color: antiquewhite;
    font-display: center;
    text-align: center;
    margin-top: 80px;
}
.hood{
    background-color: antiquewhite;
    max-width: 500px;
    margin: 140px auto;
    border-radius: 10px;
}
.add-todo{
    margin-top: 30px;
    height: 60px;
    padding: 0 25px;
}
input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.entertodo{
    padding: 0 10px 0 10px;
    width: 90%;
    height: 50%;
    border-radius: 4px;
    font-size: 17px;
    border: 1.5px solid #5b5b64;
}
.controls{
    padding: 18px 25px;
    border-bottom: 3px solid #5656bb;
}
.controls, li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controls .clear-all{
    outline: none;
    border: none;
    border-radius: 4px;
    color: azure;
    padding: 7px 13px;
    background: #3c87ff;
    cursor: pointer;
}
.controls span.tr{
    color: #58585b;
}
.filters span:first-child{
    margin-left: 0;
}
.filters span{
    cursor: pointer;
    margin: 0 8px;
    font-size: 17px;
}
.filters span.pending{
    color: #3c87ff;
}
.todobox{
    padding-top: 15px;
    margin: 20px 25px;
}
.todobox .todo{
    list-style: none;
    font-size: 17px;
    margin-bottom: 17px;
    border-bottom: 1.5px solid #5656bb;
    padding-bottom: 13px;
}
.todo label p.checked{
    text-decoration: line-through;
}
.todo label{
    display: flex;
}
.todobox input{
    margin-right: 6px;
}
.todo .config{
    cursor: pointer;
    position: relative;
}
.config .todo-menu{
    position: absolute;    
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    padding: 5px 0;
    border-radius: 6px;
    right: -5px;
    bottom: -60px;
    z-index: 2;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 0.3s ease;
}
.config .todo-menu.show{
    transform: scale(1);
}
.todo-menu li{
    height: 25px;
    font-size: 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
    padding: 17px 15px;
}
.todo-menu li i{
    padding-right: 7px;
}
.todo-menu li:hover{
    background: #c4c4c7;
}
.todo-menu li:last-child{
    margin-bottom: 0;
}